/*
//
//
// .Author: Mickael P. Golovin.
// .Copyright: 1997-2001 by Archivarius Team, free for non commercial use.
//
//
*/
language LANG_NEUTRAL,SUBLANG_NEUTRAL

          m2HAS16_0001 RCDATA m2has16_0001.bin // HashTable16 $0001
          m2HAS32_0001 RCDATA m2has32_0001.bin // HashTable32 $0001
