/*
//
//
// .Author: Mickael P. Golovin.
// .Copyright: 1997-2001 by Archivarius Team, free for non commercial use.
//
//
*/
language LANG_NEUTRAL,SUBLANG_NEUTRAL

        m2XLT08_0001 RCDATA m2xlt08_0001.bin // OEM2ANSI
        m2XLT08_0002 RCDATA m2xlt08_0002.bin // ANSI2OEM
        m2XLT08_0003 RCDATA m2xlt08_0003.bin // OEM2Upper
        m2XLT08_0004 RCDATA m2xlt08_0004.bin // OEM2Lower
        m2XLT08_0005 RCDATA m2xlt08_0005.bin // ANSI2Upper
        m2XLT08_0006 RCDATA m2xlt08_0006.bin // ANSI2Lower
        m2XLT08_0007 RCDATA m2xlt08_0007.bin // OEMRus2Eng
        m2XLT08_0008 RCDATA m2xlt08_0008.bin // OEMEng2Rus
        m2XLT08_0009 RCDATA m2xlt08_0009.bin // ANSIRus2Eng
        m2XLT08_000a RCDATA m2xlt08_000a.bin // ANSIEng2Rus
        m2XLT08_000b RCDATA m2xlt08_000b.bin // OEM2Swap
        m2XLT08_000c RCDATA m2xlt08_000c.bin // ANSI2Swap
        m2XLT08_000d RCDATA m2xlt08_000d.bin // OEM2Special
